/* styles for my website */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background:#262318;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.current {
    color: red;
}

header {
    background:#1f1f1f;
    padding:20px 0;
}

.inner-header {
    max-width:1200px;
    margin:0px auto;
    overflow:hidden;
}

#logo {
    width:200px;
    float:left;
}

nav ul {
    float:right;
    margin-top:30px;
    list-style-type:none;
}

nav li {
    float:left;
    margin-left:30px;
}

nav a {
    text-decoration:none;
}

#wrapper {
    max-width:1200px;
    margin:20px auto;
    clear:both;
    overflow:hidden;
}

#hero {
    background:red;
    margin-bottom:20px;
}

main {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    padding: 15px;
    float:left;
    width:62%;
}

div.intros {
    color: white;
    background:#6b2f32;
    border: 3px solid #c7bb54;
    line-height: 15px;
    padding: 20px;
    font-family: serif;
}

div.entry {
    padding: 15px;
}

fieldset {
    padding: 20px;
}

label {
    line-height: 30px;
}

ul {
    margin-top: 25px;
    margin-bottom: 15px;
}

div.intros ul {
    margin-top: 20px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    font-size: 18px;
    line-height:1.5;
}

.error {
    color:red;
    font-style:italic;
}

aside {
    width:35%;
    background:#7d8a80;
    float:right;
    padding: 10px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
}

footer {
    height:60px;
    line-height:60px;
    background:#ddd;
    clear:both;
}

footer ul {
    display:flex;
    justify-content:center;
    list-style-type:none;
}

footer li {
    justify-content: center;
    margin:0 15px;
}

img {
    max-width:100%;
}

/* typography */

p {
    margin-bottom:20px;
    line-height:1.5;
    font-size: 18px;
}

h1 {
    font-size:2.5em;
    color: #569653;
    font-family: sans-serif;
    font-style: italic;
}

h2 {
    font-size:2em;
    margin-top: 20px;
}

h3 {
    font-size:1.5em;
}

h1, h2, h3 {
    margin-bottom:10px;
}

legend {
    color:black;
}

main a {
    color: #c7bb54;
}